
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twitter</title>
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="icon" href="~/favicons/favicon-16x16.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
          integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="https://abs.twimg.com/sticky/illustrations/lohp_1302x955.png" alt="">
            <svg viewBox="0 0 24 24" aria-hidden="true"
                 class="r-k200y r-1cvl2hr r-4qtqp9 r-yyyyoo r-5sfk15 r-dnmrzs r-kzbkwu r-bnwqim r-1plcrui r-lrvibr">
                <g>
                    <path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z">
                    </path>
                </g>
            </svg>
        </div>
        <div class="right">
            <div class="top">
                <svg viewBox="0 0 24 24" aria-hidden="true"
                     class="r-k200y r-1cvl2hr r-4qtqp9 r-yyyyoo r-5sfk15 r-dnmrzs r-kzbkwu r-bnwqim r-1plcrui r-lrvibr">
                    <g>
                        <path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z">
                        </path>
                    </g>
                </svg>
            </div>
            <h1>Acontecendo agora</h1>
            <h2>Inscreva-se no Twitter hoje mesmo.</h2>
            <button class="google_btn"><i class="fab fa-google"></i>Inscrever-se com Google</button>
            <button><i class="fab fa-apple"></i>Inscrever-se com Apple</button>
            <div class="separator">
                <div class="line"></div>
                <h5>ou</h5>
                <div class="line"></div>
            </div>
                <a asp-action="Criar" asp-controller="Usuario" class="phone_btn" id="create-account">Criar conta</a>
            <p>Ao se inscrever, você concorda com os <a href="#">Termos de Serviço</a> e a <br /> <a href="#">Política de Privacidade</a>, incluindo o <a href="#">Uso de Cookies</a>.</p>
            <h4>Já tem uma conta?</h4>
            <button class="signin_btn">Entrar</button>
        </div>
    </div>
    <footer>
        <a href="#">Sobre</a>
        <a href="#">Central de Ajuda</a>
        <a href="#">Termos de Serviço</a>
        <a href="#">Política de Privacidade</a>
        <a href="#">Política de Cookies</a>
        <a href="#">Accessibilidade</a>
        <a href="#">Informação de Anúncios</a>
        <a href="#">Blog</a>
        <a href="#">Status</a>
        <a href="#">Careiras</a>
        <a href="#">Recursos da Marca</a>
        <a href="#">Publicidade</a>
        <a href="#">Marketing</a>
        <a href="#">Twitter para Empresas</a>
        <a href="#">Desenvolvedores</a>
        <a href="#">Diretório</a>
        <a href="#">Configurações</a>

        <a href="#">&#169 2023 Twitter, Inc.</a>
    </footer>
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>


</body>

</html>