<div class="search-bar">
    <svg viewBox="0 0 24 24" aria-hidden="true">
        <g>
            <path d="M10.25 3.75c-3.59 0-6.5 2.91-6.5 6.5s2.91 6.5 6.5 6.5c1.795 0 3.419-.726 4.596-1.904 1.178-1.177 1.904-2.801 1.904-4.596 0-3.59-2.91-6.5-6.5-6.5zm-8.5 6.5c0-4.694 3.806-8.5 8.5-8.5s8.5 3.806 8.5 8.5c0 1.986-.682 3.815-1.824 5.262l4.781 4.781-1.414 1.414-4.781-4.781c-1.447 1.142-3.276 1.824-5.262 1.824-4.694 0-8.5-3.806-8.5-8.5z"></path>
        </g>
    </svg>
    <input class="search" type="search" placeholder="Buscar no Twitter" />
</div>
<div class="trends">
    <header class="trends-header">
        <h2>
            <span>O que está acontecendo</span>
        </h2>
    </header>
    <div class="trends-items">
        <div class="trends-item">
            <div>
                <span>Assunto do Momento</span>
                <div>
                    <svg viewBox="0 0 24 24" aria-hidden="true">
                        <g>
                            <circle cx="5" cy="12" r="2"></circle>
                            <circle cx="12" cy="12" r="2"></circle>
                            <circle cx="19" cy="12" r="2"></circle>
                        </g>
                    </svg>
                </div>
            </div>
            <span>3.119 tweets</span>
        </div>
    </div>
    <div class="trends-items">
        <div class="trends-item">
            <div>
                <span>Assunto do Momento</span>
                <div>
                    <svg viewBox="0 0 24 24" aria-hidden="true">
                        <g>
                            <circle cx="5" cy="12" r="2"></circle>
                            <circle cx="12" cy="12" r="2"></circle>
                            <circle cx="19" cy="12" r="2"></circle>
                        </g>
                    </svg>
                </div>
            </div>
            <strong class="hashtag">Overwatch 2</strong>
            <span>3.119 tweets</span>
        </div>
    </div>
    <div class="trends-items">
        <div class="trends-item">
            <div>
                <span>Assunto do Momento</span>
                <div>
                    <svg viewBox="0 0 24 24" aria-hidden="true">
                        <g>
                            <circle cx="5" cy="12" r="2"></circle>
                            <circle cx="12" cy="12" r="2"></circle>
                            <circle cx="19" cy="12" r="2"></circle>
                        </g>
                    </svg>
                </div>
            </div>
            <strong class="hashtag">Overwatch 2</strong>
            <span>3.119 tweets</span>
        </div>
    </div>
    <div class="trends-items">
        <div class="trends-item">
            <div>
                <span>Assunto do Momento</span>
                <div>
                    <svg viewBox="0 0 24 24" aria-hidden="true">
                        <g>
                            <circle cx="5" cy="12" r="2"></circle>
                            <circle cx="12" cy="12" r="2"></circle>
                            <circle cx="19" cy="12" r="2"></circle>
                        </g>
                    </svg>
                </div>
            </div>
            <strong class="hashtag">Overwatch 2</strong>
            <span>3.119 tweets</span>
        </div>
    </div>
    <div class="trends-items">
        <div class="trends-item">
            <div>
                <span>Assunto do Momento</span>
                <div>
                    <svg viewBox="0 0 24 24" aria-hidden="true">
                        <g>
                            <circle cx="5" cy="12" r="2"></circle>
                            <circle cx="12" cy="12" r="2"></circle>
                            <circle cx="19" cy="12" r="2"></circle>
                        </g>
                    </svg>
                </div>
            </div>
            <strong class="hashtag">Overwatch 2</strong>
            <span>3.119 tweets</span>
        </div>
    </div>
    <div class="more-btn">
        <span>Mostrar mais</span>
    </div>

</div>
<div class="who-to-follow">
    <header class="who-to-follow-header">
        <h2>Quem seguir</h2>
    </header>
    <div class="users">
        <div class="user">
            <img src="~/img/MyPhoto.jpg" class="profile-img" />
            <div>
                <div>
                    <strong class="user-name">José Melo</strong>
                    <span>josemeloph</span>
                </div>
                <button class="follow-btn">Seguir</button>
            </div>
        </div>
        <div class="user">
            <img src="~/img/MyPhoto.jpg" class="profile-img" />
            <div>
                <div>
                    <strong class="user-name">José Melo 2</strong>
                    <span>josemeloph</span>
                </div>
                <button class="follow-btn">Seguir</button>
            </div>
        </div>
        <div class="user">
            <img src="~/img/MyPhoto.jpg" class="profile-img" />
            <div>
                <div>
                    <strong class="user-name">José Melo 3</strong>
                    <span>josemeloph</span>
                </div>
                <button class="follow-btn">Seguir</button>
            </div>
        </div>
        <div class="more-btn">
            <span>Mostrar mais</span>
        </div>
    </div>
</div>

<footer>
    <nav>
        <span>Termos de Serviço</span>
        <span>Política de Privacidade</span>
        <span>Política de Cookies</span>
        <span>Acessibilidade</span>
        <span>Informações de Anúncios</span>
        <span>Mais
            <svg viewBox="0 0 24 24" aria-hidden="true">
                <g>
                    <circle cx="5" cy="12" r="2"></circle>
                    <circle cx="12" cy="12" r="2"></circle>
                    <circle cx="19" cy="12" r="2"></circle>
                </g>
            </svg>
        </span>
        <span>&copy; 2023 Twitter</span>
    </nav>
</footer>