@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twitter</title>
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="icon" href="~/favicons/favicon-16x16.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
          integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="https://abs.twimg.com/sticky/illustrations/lohp_1302x955.png" alt="">
            <svg viewBox="0 0 24 24" aria-hidden="true"
                 class="r-k200y r-1cvl2hr r-4qtqp9 r-yyyyoo r-5sfk15 r-dnmrzs r-kzbkwu r-bnwqim r-1plcrui r-lrvibr">
                <g>
                    <path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z">
                    </path>
                </g>
            </svg>
        </div>
        <div class="right">
            <div class="top">
                <svg viewBox="0 0 24 24" aria-hidden="true"
                     class="r-k200y r-1cvl2hr r-4qtqp9 r-yyyyoo r-5sfk15 r-dnmrzs r-kzbkwu r-bnwqim r-1plcrui r-lrvibr">
                    <g>
                        <path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z">
                        </path>
                    </g>
                </svg>
            </div>
            <h1>Acontecendo agora</h1>
            <h2>Inscreva-se no Twitter hoje mesmo.</h2>
            <button class="google_btn"><i class="fab fa-google"></i>Inscrever-se com Google</button>
            <button><i class="fab fa-apple"></i>Inscrever-se com Apple</button>
            <div class="separator">
                <div class="line"></div>
                <h5>ou</h5>
                <div class="line"></div>
            </div>
            <button class="phone_btn">Criar conta</button>
            <p>Ao se inscrever, você concorda com os <a href="#">Termos de Serviço</a> e a <br /> <a href="#">Política de Privacidade</a>, incluindo o <a href="#">Uso de Cookies</a>.</p>
            <h4>Já tem uma conta?</h4>
            <button class="signin_btn">Entrar</button>
        </div>
    </div>
    <footer>
        <a href="#">Sobre</a>
        <a href="#">Central de Ajuda</a>
        <a href="#">Termos de Serviço</a>
        <a href="#">Política de Privacidade</a>
        <a href="#">Política de Cookies</a>
        <a href="#">Accessibilidade</a>
        <a href="#">Informação de Anúncios</a>
        <a href="#">Blog</a>
        <a href="#">Status</a>
        <a href="#">Careiras</a>
        <a href="#">Recursos da Marca</a>
        <a href="#">Publicidade</a>
        <a href="#">Marketing</a>
        <a href="#">Twitter para Empresas</a>
        <a href="#">Desenvolvedores</a>
        <a href="#">Diretório</a>
        <a href="#">Configurações</a>

        <!-- this is the copyright unicode -->
        <a href="#">&#169 2023 Twitter, Inc.</a>
    </footer>

    <div class="modal " style="display: none;">
        <div class="modal-signup" id="modal-signup" style="display: none;">
            <div class="steps" id="step-1" style="display: none;">
                <header>
                    <div>
                        <svg viewBox="0 0 24 24" aria-hidden="true">
                            <g>
                                <path d="M10.59 12L4.54 5.96l1.42-1.42L12 10.59l6.04-6.05 1.42 1.42L13.41 12l6.05 6.04-1.42 1.42L12 13.41l-6.04 6.05-1.42-1.42L10.59 12z"></path>
                            </g>
                        </svg>
                    </div>
                    <span>Etapa 1 de 3</span>
                </header>
                <section>
                    <div>
                        <span>Criar sua conta</span>
                        <div>
                            <form id="nameForm">
                                <input id="nameInput" onfocus="focusInFunction(this, 'name', 'nameForm')" onfocusOut="focusOutFunction(this, 'name', 'nameForm')" />
                                <label id="name">Nome</label>
                                <span></span>
                            </form>
                            <form id="emailForm">
                                <input id="emailInput" onfocus="focusInFunction(this, 'email', 'emailForm')" onfocusOut="focusOutFunction(this, 'email', 'emailForm')" />
                                <label id="email">E-mail</label>
                                <span></span>
                            </form>
                            <strong><span>Data de Nascimento</span></strong>
                            <span>Isso não será exibido publicamente. Confirme sua própria idade,<br /> mesmo se esta conta for de empresa, de um animal de estimação ou <br />outros.</span>
                            <div>
                                <div class="date" id="mes">
                                    <select>
                                        <option disabled selected></option>
                                        <option value="1">Janeiro</option>
                                        <option value="2">Fevereiro</option>
                                        <option value="3">Março</option>
                                        <option value="3">Abril</option>
                                        <option value="3">Maio</option>
                                        <option value="3">Junho</option>
                                        <option value="3">Julho</option>
                                        <option value="3">Agosto</option>
                                        <option value="3">Setembro</option>
                                        <option value="3">Outubro</option>
                                        <option value="3">Novembro</option>
                                        <option value="3">Dezembro</option>
                                    </select>
                                    <span>Mês</span>
                                </div>
                                <div class="date" id="dia">
                                    <select>
                                        <option disabled selected></option>
                                        @for (int dia = 1; dia <= 31; dia++)
                                        {
                                            <option value="@dia">@dia</option>
                                        }
                                    </select>
                                    <span>Dia</span>
                                </div>
                                <div class="date" id="ano">
                                    <select>
                                        <option disabled selected></option>
                                        @for (int ano = DateTime.Now.Year; ano >= 1903; ano--)
                                        {
                                            <option value="@ano">@ano</option>
                                        }
                                    </select>
                                    <span>Ano</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="btn">
                    <button>Avançar</button>
                </div>
            </div>
            <div class="steps" id="step-2" style="display: none;">
                <header>
                    <div>
                        <svg viewBox="0 0 24 24" aria-hidden="true">
                            <g>
                                <path d="M7.414 13l5.043 5.04-1.414 1.42L3.586 12l7.457-7.46 1.414 1.42L7.414 11H21v2H7.414z"></path>
                            </g>
                        </svg>
                    </div>
                    <span>Etapa 2 de 3</span>
                </header>
                <section>
                    <div>
                        <span>Enviamos um código para você</span>
                        <h3>Insira-o abaixo para verificar xxxxxgmail.com</h3>
                        <div>
                            <form id="codeForm">
                                <input id="codeInput" onfocus="focusInFunction(this, 'code', 'codeForm')" onfocusOut="focusOutFunction(this, 'code', 'codeForm')" />
                                <label id="code">Código de verificação</label>
                                <a href="">Não recebeu o e-mail?</a>
                            </form>
                            </div>
                    </div>
                </section>
                <div class="btn">
                    <button>Avançar</button>
                </div>
            </div>
            <div class="steps" id="step-3">
                <header>
                    <div>
                        <svg viewBox="0 0 24 24" aria-hidden="true">
                            <g>
                                <path d="M7.414 13l5.043 5.04-1.414 1.42L3.586 12l7.457-7.46 1.414 1.42L7.414 11H21v2H7.414z"></path>
                            </g>
                        </svg>
                    </div>
                    <span>Etapa 3 de 3</span>
                </header>
                <section>
                    <div>
                        <span>Você precisará de uma senha</span>
                        <h3>É preciso ter 8 caracteres ou mais.</h3>
                        <div>
                            <form id="passwordForm">
                                <input id="passwordInput" onfocus="focusInFunction(this, 'password', 'passwordForm')" onfocusOut="focusOutFunction(this, 'password', 'passwordForm')" />
                                <label id="password">Senha</label>
                                <span></span>
                            </form>
                        </div>
                    </div>
                </section>
                <div class="btn">
                    <button>Avançar</button>
                </div>
            </div>
      
        </div>
    </div>


    <script>

        function focusOutFunction(e, idLabel, idForm) {
            if (e.value.length > 0) {
                document.getElementById(idLabel).style.top = "30%";
                document.getElementById(idLabel).style.fontSize = "14px";
            }
            else {
                document.getElementById(idLabel).style.top = "50%";
                document.getElementById(idLabel).style.fontSize = "17px";
            }
            document.getElementById(idLabel).style.color = "rgb(56, 68, 77, 0.8)";
            document.getElementById(idForm).style.border = "1px solid rgba(56,68,77, 0.3)";
        }

        function focusInFunction(e, idLabel, idForm) {
            document.getElementById(idLabel).style.top = "30%";
            document.getElementById(idLabel).style.fontSize = "14px";
            document.getElementById(idLabel).style.color = "rgb(29,161,242)";
            document.getElementById(idForm).style.border = "1px solid rgb(29,161,242)";
        }
    </script>

</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
</html>