@model Usuario

<div class="left-column">
    @if(Model.ImagemPerfil != null)
    {
        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.ImagemPerfil)" alt="profile" class="profile-img" />
    }
    else
    {
        <img src="https://abs.twimg.com/sticky/default_profile_images/default_profile_200x200.png" class="profile-img">
    }
</div>
<div class="right-column">
    <div id="right">
        <strong>@Model.Nome</strong>
        @if(Model.Tag != null)
        {
            <span>&#64;@Model.Tag</span>
        }
        else
        {
            <span>&#64;@Model.Nome</span>
        }
    </div>
    <div>
        <svg id="dot" class="dot" viewBox="0 0 24 24" aria-hidden="true">
            <g>
                <circle cx="5" cy="12" r="2"></circle>
                <circle cx="12" cy="12" r="2"></circle>
                <circle cx="19" cy="12" r="2"></circle>
            </g>
        </svg>
    </div>
</div>

<style>
    #dot{
        position: absolute;
        right: 0;
    }
    #right {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 130px;
    }
    strong {
        white-space: nowrap;
    }
</style>