@font-face {
    font-family: TwitterChirp;
    src: url(https://abs.twing.com/fonts/chirp-bold-web.woff2) format('woff2');
    src: url(https://abs.twing.com/fonts/chirp-bold-web.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: TwitterChirp;
    src: url(https://abs.twing.com/fonts/chirp-heavy-web.woff2) format('woff2');
    src: url(https://abs.twing.com/fonts/chirp-heavy-web.woff) format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(29,161,242);
    --border-color: rgb(56,68,77);
    --shadow-color: rgba(255,255,255,0.07);
}

html {
    color: #fff;
    font-size: 15px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #15202B;
}

a {
    text-decoration: none;
    color: #fff;
}

button {
    cursor: pointer;
}

input:focus {
    outline: none;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 243px auto 350px;
    margin: 0 4%;
    max-width: 1200px;
}

.left-side {
    position: fixed;
    height: 100vh;
    width: 240px;
    padding: 0 12px 0 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

left-navbar {
    width: 245px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.left-side .left-navbar .logo {
    margin-top: 18px;
    margin-bottom: 4px;
    margin-left: 9px;
    height: 2rem;
}

    .left-side .left-navbar .logo img {
        width: 2rem;
    }

.left-side svg,
.content-header svg,
.post-header svg,
.trends svg {
    fill: #fff;
    height: 1.75rem;
}



.left-navbar a {
    display: flex;
    padding: 4px 0;
}

    .left-navbar a div {
        display: flex;
        padding: 12px;
        align-items: center;
        border-radius: 99999px;
        transition: 0.2s;
    }

        .left-navbar a div:hover {
            background-color: var(--shadow-color);
        }

    .left-navbar a span {
        font-size: 20px;
        letter-spacing: 0.3px;
        margin-left: 20px;
        margin-right: 16px;
    }

.tweet-btn {
    font-family: var(--main-font);
    font-size: 16px;
    width: 96%;
    height: 50px;
    font-weight: 700;
    border: none;
    letter-spacing: 0.3px;
    background-color: var(--main-color);
    border-radius: 30px;
    color: inherit;
    margin: 16px 0;
}

    .tweet-btn svg {
        display: none;
    }


.left-side .right-column {
    display: flex;
    align-items: center;
}

    .left-side .right-column svg {
        margin-left: 60px;
    }



.profile-btn {
    display: flex;
    margin: 12px 0;
    padding: 12px;
    cursor: pointer;
    width: calc(100% + 12px);
    border-radius: 9999px;
    transition: 0.2s;
}


    .profile-btn:hover {
        background-color: var(--shadow-color);
    }

    .profile-btn img {
        width: 40px;
        height: 40px;
    }

    .profile-btn svg,
    .details svg,
    .search-bar svg {
        height: 1.25rem;
        margin-left: 5px;
        vertical-align: bottom;
    }

@media(max-width: 1300px) {
    .container {
        grid-template-columns: 67px auto 350px;
    }

    .left-side {
        width: 70px;
    }

    .left-navbar a span {
        display: none;
    }

    .tweet-btn {
        width: 50px;
    }

        .tweet-btn span {
            display: none;
        }

        .tweet-btn svg {
            margin-left: 24%;
            display: block;
        }

    .left-side .right-column {
        display: none;
    }

    .profile-btn {
        width: 100%;
        padding: 10px 11px 6px 10px;
        margin: 12px 0 12px -2px;
    }
}

.tag,
.time,
.dot,
.details svg {
    color: rgb(136,153,166);
    fill: rgb(136,153,166);
    display: block;
}

.right-column {
    margin-left: 15px;
}

.profile-img {
    border-radius: 100%;
    width: 48px;
    height: 48px;
}

.content {
    border: 1px solid var(--border-color);
    border-top: none;
    border-bottom: none;
}

.trends-header div,
.trends-item > div > div {
    display: flex;
    margin-right: -10px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.content-header span {
    display: block;
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 20px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

.content-header div {
    display: flex;
    width: 100%;
}

.content-header .forFollow {
    position: relative;
    width: 50%;
    padding: 17px 95px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    transition: 0.2s;
}

.content-header .fade {
    color: #ffffff62 !important;
    font-weight: 500;
}

.content-header .forFollow:hover {
    background: #34425070;
}

.content-header .forFollowing {
    width: 50%;
    padding: 17px 95px;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    transition: 0.2s;
}

    .content-header .forFollowing:hover {
        background: #34425070;
    }

.content-header svg {
    margin-left: 25px;
}

.trends-header svg {
    margin-right: 0;
}

.trends-item > div {
    position: relative;
}

    .trends-item > div > div {
        position: absolute;
        width: 34.75px;
        height: 34.75px;
        top: -7px;
        right: 0;
    }

        .trends-header div:hover,
        .trends-item > div > div:hover {
            background-color: var(--shadow-color);
        }

            .trends-item > div > div:hover svg {
                fill: var(--main-color);
            }


.content-header svg,
.trends-header svg {
    fill: var(--main-color);
    width: 22px;
    height: 22px;
}

.content-header {
    padding: 15px 0 0 0;
}

.tweet {
    padding: 10px 13px 10px 13px;
    display: flex;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
}

.post:hover {
    cursor: pointer;
    background-color: rgba(240,240,240,0.08);
}

.left-column .profile-img {
    margin: 5px;
    width: 40px;
    word-break: break-word;
    height: 40px;
}

.right-column,
.right-column form,
.right-column input {
    width: 100%;
}

    .right-column input {
        line-height: 20px;
        font-family: inherit;
        font-weight: 400;
        font-size: 20px;
        color: rgb(255,255,255);
        height: 56px;
        background: transparent;
        border: none;
    }

        .right-column input::placeholder,
        .search::placeholder {
            font-size: 20px;
            color: #8899A6;
            font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

.tweet .right-column .bottom-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

    .tweet .right-column .bottom-row .buttons {
        display: flex;
    }





    .tweet .right-column .bottom-row .tweet-btn {
        height: 34px;
        width: 90px;
        opacity: 0.5;
        margin: 0;
    }

.post {
    padding: 15px;
    display: flex;
    border-bottom: 1px solid var(--border-color);
    transition: 0.3s ease;
}

.tweet .right-column .bottom-row svg {
    width: 22px;
    height: 22px;
    fill: var(--main-color);
}

.post-header {
    display: flex;
    justify-content: space-between;
}

    .post-header div {
        display: flex;
        align-items: center;
    }

.dot {
    line-height: 20px;
    font-size: 15px;
    margin-top: -6px;
}

.details {
    cursor: pointer;
    padding: 4px;
    border-radius: 100%;
    justify-content: center !important;
}

    .details svg {
        margin: 0;
    }

    .details:hover {
        background-color: rgba(29,161,242, 0.2);
        fill: rgb(29,161,242);
    }

.tweet .bottom-row .buttons div {
    height: 2rem;
    width: 2rem;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease;
    margin-right: 7px;
    cursor: pointer;
}

    .tweet .bottom-row .buttons div:hover {
        background-color: rgba(29,161,242,0.2);
    }

.post-header .tag,
.post-header .time,
.dot {
    margin-left: 4px;
}

.post .bottom-row {
    max-width: 425px;
    margin-top: 12px;
    justify-content: space-between;
}

    .post .bottom-row,
    .post .bottom-row > div {
        display: flex;
        align-items: center;
        color: rgb(136,153,166);
        cursor: pointer;
    }

        .post .bottom-row > div {
            margin: -8px;
        }

            .post .bottom-row > div > div {
                border-radius: 9999px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.2s ease;
            }

            .post .bottom-row > div > span {
                transition: 0.2s ease;
            }

            .post .bottom-row > div:hover > div {
                background-color: rgba(29,161,242,0.2);
            }

            .bottom-row > div:hover > div svg,
            .post .bottom-row > div:hover > span {
                color: var(--main-color);
                fill: currentColor;
            }

            .post .bottom-row > div:nth-child(2):hover > div {
                background-color: rgba(23,191, 99,0.2);
            }

            .post .bottom-row > div:nth-child(2):hover > span,
            .bottom-row > div:nth-child(2):hover > div svg {
                color: rgb(23,191,99);
                fill: currentColor;
            }

            .post .bottom-row > div:nth-child(3):hover > div {
                background-color: rgba(224,36,94, 0.2);
            }

            .post .bottom-row > div:nth-child(3):hover > span,
            .bottom-row > div:nth-child(3):hover > div svg {
                color: rgb(224,36,94);
                fill: currentColor;
            }

        .post .bottom-row span {
            font-size: 13px;
        }

        .post .bottom-row span,
        .post .bottom-row svg {
            fill: rgb(136,153,166);
            font-family: inherit;
        }

        .post .bottom-row svg {
            margin: 8px;
            width: 1.25em;
            height: 1.25em;
        }

        .post .bottom-row span {
            padding: 0 12px;
            line-height: 20px;
        }

.right-side {
    padding: 12px 0 64px 0;
    width: 350px;
    margin-left: 30px;
}

.search-bar {
    position: relative;
}

    .search-bar svg {
        position: absolute;
        top: 13px;
        left: 12px;
        fill: #8899A6;
    }

.search {
    border-radius: 30px;
    border: none;
    width: 350px;
    height: 46px;
    background-color: rgb(37, 51, 65);
    padding-left: 60px;
}

    .search::placeholder {
        font-size: 16px;
    }

.trends,
.who-to-follow {
    background-color: #1e2732;
    border-radius: 15px;
    margin-top: 12px;
}

.trends-header,
.trends-item,
.who-to-follow-header,
.user {
    padding: 12px 16px;
}

    .trends-header > h2 {
        display: flex;
        justify-content: space-between;
    }

    .trends-header svg,
    .trends-item svg {
        vertical-align: text-bottom;
    }

.trends-item {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition-duration: 0.2s;
}

    .trends-item:hover,
    .more-btn:hover,
    .user:hover {
        background-color: rgba(255,255,255,0.07);
    }

    .trends-item > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .trends-item span,
    .trends-item svg {
        font-size: 13px;
        height: 1.25rem;
        color: rgb(136,155,166);
        fill: rgb(136,155,166);
    }

    .trends-item > span {
        margin-top: 4px;
    }

.more-btn {
    padding: 16px;
    color: var(--main-color);
    cursor: pointer;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user img {
    margin-right: 12px;
}

.user > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.follow-btn {
    min-height: 32px;
    min-width: 32px;
    font-weight: 500;
    font-size: 15px;
    padding: 0 1em;
    color: #000;
    background: #fff;
    border: 1px solid currentColor;
    border-radius: 9999px;
    transition: 0.1s ease;
}

.follow-btn:hover {
    background-color: var(--shadow-color);
}

.user strong {
    display: block;
}

.user span {
    color: rgb(136,155,166);
}

.line {
    height: 1px;
    margin: 16px 0;
    border: none;
    border-radius: 16px;
    color: transparent;
    background-color: transparent;
}

.right-side footer {
    margin-top: 20px;
}
.right-side footer nav {
    padding: 0 16px;
    display: flex;
    flex-wrap: wrap;
}

    .right-side footer span,
    .right-side footer svg {
        height: 1em;
        vertical-align: text-bottom;
        margin: 4px 0;
        padding-left: 12px;
        line-height: 16px;
        color: rgb(136,153,166);
        fill: currentColor;
        font-size: 13px;
    }

    .right-side footer svg {
        margin: 0;
        margin-left: -15px;
    }

.right-side footer span:not(:last-child):hover {
    cursor: pointer;
    text-decoration: underline;
}

.search {
    color: #fff;
}
